
@import '../../styles/_colors';
@import '../../styles/fonts';
@import '../../styles/_mixins';

.container {
    font-family: $varela-round;
    color: white;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
}

.registration {
    
    padding: 4rem 14rem 6rem 14rem;
    background-color: $color3;
    border-radius: 1rem;
    box-shadow: 4px 8px 8px -3px black;
}

.btn {
    @include btn(green);
}


.input {
    @include input;
}
