@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/mixins';

.container {
    font-family: $varela-round;
    color: white;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
}
.chat {
    background-color: white;
    color: $label;
    text-align: left;
}