.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.players {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.myCards {
    padding-top: 2rem;
    display: flex;
    flex-direction: nowrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}